<section>
  <h2>수고하셨습니다</h2>
  <%=link_to t(:check_survey),root_path,:class=>"btn btn-lg btn-primary",:style=>"font-weight:bold" %>
  <%=link_to t(:logout),destroy_user_session_path,:class=>"btn btn-lg btn-default",:style=>"font-weight:bold" %>
</section>
