<footer id="footer" class="footer">
	<div class="container">
		<address>
			<%=link_to t(:site_address),t(:site_url),:target=>"_blank" %>
		</address>
		<input type="hidden" id="error_title_message" value="<%=t(:error_title) %>" />
		<input type="hidden" id="not_submit_answer_id_message" value="<%=t(:not_submit_answer_id) %>" />
 	</div>
</footer>
