<footer>
  <div class="container">
    <div class="row">
      <address class="col-12">
        <a href="https://www.sleepinglion.pe.kr" target="_blank"><%= t(:jedearoweb) %></a>
        &nbsp;&nbsp; CopyLeft. 2020, SL. All wrongs reserved.
      </address>
      <input type="hidden" id="error_title_message" value="<%= t(:error_title) %>"/>
      <input type="hidden" id="not_submit_answer_id_message" value="<%= t(:not_submit_answer_id) %>"/>
    </div>
  </div>
</footer>
